<p id="notice"><%= notice %></p>
<div class="row">
  <h1>Listing Players</h1>

  <div class="col-sm-12">
    <% @players.each do |player| %>
      <%= render partial: 'card', locals: {player: player} %><br>
    <% end %>
  </div>
  <%= link_to 'New Player', new_player_path, class:"btn btn-default" %>
</div>
